body {
  margin: 0;
  padding: 0;
}
.password-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}
.password-rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
}
.input-layout {
  display: flex;
  text-transform: capitalize;
  justify-content: space-between;
  justify-items: baseline;
}

.input-control {
  border-radius: 2rem;
  text-align: justify;
}

#password {
  border-radius: 2px;
  color: #33ff11;
  border: 1px solid #222313;
  padding: 3px;
  align-items: flex-start;
  margin-left: auto !important;
}
.btn {
  border: none;
  padding: 3px;
  text-decoration: none;
  cursor: pointer;
}
.btn:hover {
  background-color: aqua;
}
